@charset "utf-8";

/* CSS Document
Project Name: ICT - Conference HTML Template
Version:  1.0
Author Name: bdCoder

*****=====***** TABLE OF CONTENT *****=====*****

01. IMPORTED STYLE CSS
02. GENERAL CSS
        => Form CSS
        => Placeholder Color CSS
        => BUtton CSS
        => Background Over Layer CSS
        => Default Title CSS
        => Preloader CSS
        => Scrollup CSS
03. Header Nav CSS
        => NavBar Fixed CSS
        => Nav Transparent CSS
        => Header CSS Two
04. Banner CSS
        => Banner CSS Two
        => Particles CSS
05. About CSS
06. Speakers CSS
07. Organizer CSS
08. Ticket CSS
09. Schedule CSS
10. Venue CSS
11. Blog CSS
12. counter CSS
13. Sponsor CSS
14. Contact CSS
15. Footer CSS
16. Demo Page CSS

*/

/*****=====*****=====*****=====*****=====
    01. IMPORTED STYLE CSS
=====*****=====*****=====*****=====*****/

/* GOOGLE FONTs */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* OTHER IMPORTED CSS */
@import "font-awesome.min.css";
@import "flaticon.css";
@import "scrolling-nav.css";
@import "animate.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "component.css";



/*****=====*****=====*****=====*****=====
    02. General CSS
=====*****=====*****=====*****=====*****/

body {
    background: #ffffff;
    font-family: 'montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #4c4c4c;
    position: relative;
}
/* Common CSS */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'montserrat', sans-serif;
    color: #111111;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.btn {
    font-size: 14px;
}

.w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    min-width: 25%;
    margin-left:30px;
}

@media only screen and (max-width: 576px) {
    .main-banner {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 576px !important;
        max-height: 576px !important;
    }

    #main-logo {
        height: 150px;
        width: 140px;
        margin-top: -100px;
    }


    .header-banner h4 {
        font-size: 10px !important;
    }

    #btn-wrapper-main {
        display: grid !important;
    }

    .banner-btn {
        min-width: 30px !important;
        max-width: 120px !important;
        padding: 6px 6px 6px 6px !important;
    }

    .banner-btn a{
        font-size: 10px !important;
    }

    #experimental-civics-logo {
        width: 200px;
        height: 300px;
    }


}

@media only screen and (max-width: 768px) {
    .main-banner {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 768px !important;
        max-height: 768px !important;
    }
    #main-logo {
        height: 150px;
        width: 140px;
        margin-top: -100px;
    }
    .header-banner h4 {
        font-size: 10px !important;
    }

    #btn-wrapper-main {
        display: grid !important;
    }

    .banner-btn {
        min-width: 30px !important;
        max-width: 120px !important;
        padding: 6px 6px 6px 6px !important;
    }

    .banner-btn a{
        font-size: 10px !important;
    }
    #experimental-civics-logo {
        width: 200px;
        height: 300px;
    }
}

@media only screen and (max-width: 1200px) {
    .main-banner {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1200px !important;
        max-height: 1200px !important;
    }

    #main-logo {
        height: 150px;
        width: 140px;
        margin-top: -100px;
    }
    .header-banner h4 {
        font-size: 10px !important;
    }

    #btn-wrapper-main {
        display: grid !important;
    }

    .banner-btn {
        min-width: 30px !important;
        max-width: 120px !important;
        padding: 6px 6px 6px 6px !important;
    }

    .banner-btn a {
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 1201px) {
    .main-banner {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #main-logo {
        height: 300px;
        width: 300px;
    }

}

@media (min-width: 576px) {
    .w-sm-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 768px) {
    .w-md-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .w-lg-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .w-xl-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.banner-btn {
    font-size: 24px;
    padding: 24px;
    margin: 10px;
}
/* Form CSS */

.form-control {
    resize: none;
    height: 45px;
    font-size: 14px;
    margin-bottom: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.form-control:focus {
    border-color: #a2a2a2;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* Placeholder Color CSS */
::-webkit-input-placeholder {
    color: #999999 !important;
}
::-moz-placeholder {
    color: #999999 !important;
}
:-ms-input-placeholder {
    color: #999999 !important;
}
:-moz-placeholder {
    color: #999999 !important;
}

.ticket-area ::-webkit-input-placeholder {
    color: #111111 !important;
}
.ticket-area ::-moz-placeholder {
    color: #111111 !important;
}
.ticket-area :-ms-input-placeholder {
    color: #111111 !important;
}
.ticket-area :-moz-placeholder {
    color: #111111 !important;
}

#event-slides {
    background-color: #f3f4f3;
}

#event-slides .video img {
    border-radius: 4px;
}

#event-slides .intro-desc {
    line-height: 26px;
    margin-bottom: 30px;
}

#event-slides .intro-title {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#event-slides .list-specification li {
    margin-bottom: 10px;
    font-size: 15px;
}

#event-slides .list-specification li i {
    margin-right: 5px;
}

/* common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid darkorange;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: darkorange;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

/* Button CSS */

.my-btn.btn-color{
    border: none;
    background: #1768ac;
}

.my-btn{
    color: #ffffff;
    padding: 12px 30px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    position: relative;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-default:hover {
    color: #ffffff;
}

.my-btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    text-shadow: 1px 1px 2px #427388;
}


/* Background Over Layer CSS */
.overlay-black {
    position: relative;
}
.overlay-black:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.overlay-white {
    position: relative;
}
.overlay-white:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.9);
}


/* Default Title CSS */
.section-title {
    margin-bottom: 60px;
    text-align: center;
}
.section-title h2 {
    font-size: 36px;
    margin-bottom: 0;
}
.section-title h2 span {
    color: #0587d7;
}

/* Preloader CSS */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/preloder.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}


/* Scrollup CSS */
#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: #0587d7;
    color: #ffffff;
}
#scrollUp:before {
    content: "\f176";
    font-family: FontAwesome;
    font-size: 20px;
}
#scrollUp:after {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;
    border-right: 14.5px solid transparent;
    border-left: 14.5px solid transparent;
    border-bottom: 15px solid #0587d7;
}



/*--------------------------------
    03. Header Nav CSS Start
----------------------------------*/
.main-header {

}
.main-nav {

}
.main-nav .navbar {
    margin-bottom: 0;
    padding: 10px 0;
}
.main-nav .navbar-brand {
    width: 150px;
    height: auto;
    padding: 0;
    margin-top: 5px;
}
.logo-black {
    display: none;
}
.logo-white {
    display: block;
}
.top-nav-collapse .logo-white {
    display: none;
}
.top-nav-collapse .logo-black {
    display: block;
}
.main-nav .navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-nav .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #0587d7;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #0587d7 !important;
    background: transparent;
}

/* NavBar Fixed CSS */
.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/* Nav Transparent CSS */
.nav-transparent {

}
.nav-transparent .navbar-default {
    background: transparent;
    border-bottom: none;
}
.nav-transparent .top-nav-collapse {
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav-transparent .navbar-default .navbar-nav>li>a {
    color: #dedede;
}
.nav-transparent .top-nav-collapse .navbar-nav>li>a {
    color: #333333;
}
.nav-transparent .top-nav-collapse .navbar-nav>li>a:hover {
    color: #0587d7;
}
.nav-transparent .navbar-default .navbar-nav>.active>a {
    color: #ffffff !important;
}
.nav-transparent .top-nav-collapse .navbar-nav>.active>a {
    color: #0587d7 !important;
}
.nav-bottom {

}
.nav-bottom .navbar-default .navbar-nav>li>a:hover {
    color: #0587d7;
}

/* Header CSS Two Start */
.main-header-two {
    position: relative;
}
.main-header-two .main-nav .navbar-default {
    background: #ffffff;
}
.main-header-two .main-nav .navbar-default .navbar-nav>li>a:hover {
    color: #0587d7;
}





/*--------------------------------
    04. Banner CSS Start
----------------------------------*/
.main-banner {
    background: url("../images/bg/human-heart-radiology-exam-AQ26D78_000.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
}
.main-banner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background: linear-gradient(to right top, #051937, #0f315b, #164c83, #1768ac, #0587d7) !important;*/
    background: transparent;
}
.header-banner {
    text-align: center;
}
.header-banner-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    /*-moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
.header-banner h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}
.header-banner h1 span {

}
.header-banner h3 {
    color: #0587d7;
    margin-bottom: 15px;
}
.header-banner h4 {
    color: #ffffff;
    margin-bottom: 20px;
}
.countdown {
    text-transform: uppercase;
}
.countdown > div { display: inline-block; }
.countdown > div > span {
    display: block;
    text-align: center;
}
.countdown-container {
    margin: 0 3px;
}
.countdown-container .countdown-heading {
    font-size: 16px;
    color: #ffffff;
}
.countdown-container .countdown-value {
    font-size: 40px;
    background: #f32d3a;
    padding: 15px 20px;
    color: #fff;
    margin: 0 2px;
    margin-top: 10px;
    border-radius: 5px;
}

.banner-btn {
    min-width: 350px;
    max-width: 350px;
    border: 1px solid white !important;
    background: transparent !important;
}
.banner-btn a {
    color: #ffffff !important;
    font-family: sans-serif !important;

}

.down-arrow {
    font-size: 60px;
    font-size: 6rem;
    margin-top: 60px;
    margin-top: 6rem;
    color: white;
    animation: jump 1.5s infinite;
    cursor: pointer;
}

/* Banner CSS Two */
.main-banner-two {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding: 180px 0 100px;
    background: url(../images/bg/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f3f3f3;
}
.main-banner-two:before {
    background: transparent;
}
.main-banner-two .header-banner {
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.main-banner-two .header-banner h1 {
    line-height: 60px;
}





/* Particles CSS */
#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}



/*--------------------------------
    05. About CSS Start
----------------------------------*/
.icon a .img-challenge {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.icon a .img-challenge:hover {
    opacity: .5;
}

.gallery ul li {
    float: left;
    margin: 0 0.8771929825%;
    overflow: hidden;
}

header {
    color: #fff;
    text-align: center;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
}
header h1 span {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
    line-height: 1;
}
header p {
    padding-top: 30px;
}

.gallery {
    padding: 40px 0 300px;
    position: relative;
    overflow: hidden;
}
.gallery ul {
    padding-top: 50px;
    position: relative;
}
.gallery ul li {
    margin-bottom: 20px;
    width: 23.2456140351%;
    position: relative;
}
.gallery ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}
.gallery ul li a:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40%;
    left: 50%;
    margin: -14px 0 0 -16px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
    content: "";
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
    top: 50%;
    opacity: 1;
}
.gallery ul li a:after {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery ul li a:hover:after {
    opacity: 1;
}

.port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    background: #ffffff;
    background-color: #fafafa;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.port img {
    width: 50%;
}
.port .description {
    float: left;
    width: 50%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
}
.port h1 {
    font-size: 35px;
    line-height: 2.3;
    padding: 0;
}
.port > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.port > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.close {
    width: 21px;
    height: 21px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
    position: absolute;
    right: 10px;
    top: -121px;
    opacity: 1;
    z-index: 1004;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.item_open .close {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.about-area {
    padding: 150px 0 120px;
    position: relative;
}
.about-col {
    margin-bottom: 30px;
}
.about-col h3 {
    font-size: 30px;
}
.about-col h3 span {
    color: #f32d3a;
}
.left-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 150px;
    height: auto;
}
.right-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 150px;
    height: auto;
}
.about-col #accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 30px;
    margin-bottom: 15px;
}
.about-col #accordion .panel-heading{
    padding: 0;
    border-radius: 30px;
}
.about-col #accordion .panel-title a{
    display: block;
    padding: 10px 20px 10px 45px;
    background: #f1f1e6;
    font-size: 14px;
    color: #0587d7;
    border: none;
    border-radius: 30px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.about-col #accordion .panel-title a.collapsed{ color: #333333; }
.about-col #accordion .panel-title a:after,
.about-col #accordion .panel-title a.collapsed:after{
    content: "\f107";
    font-family: fontawesome;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #0587d7;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}
.about-col #accordion .panel-title a.collapsed:after{
    content: "\f105";
}
.about-col #accordion .panel-body{
    padding: 20px 0 0 0;
    font-size: 14px;
    color: #656565;
    line-height: 25px;
    border-top: none;
    position: relative;
}
.about-col #accordion .panel-body p{
    padding: 10px 20px 10px;
    margin: 0;
    background: #f1f1e6;
    border-radius: 15px;
}



/*--------------------------------
    06. Speakers CSS Start
----------------------------------*/
.speakers-area {
    padding: 90px 0 60px;
    position: relative;
    background: #f4f4f4;
    background: url(../images/bg/human-pathogenic-virus-and-bacterias-under-PXSCE7K-compressor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.speakers-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg/pattern.png);
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
}
.speakers-area .section-title h2 {
    color: #ffffff;
}
.speaker-col {
    margin-bottom: 30px;
    background: rgba(153, 153, 153, 0.6);
    padding: 20px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.speaker-box{
    text-align: center;
    position: relative;
}
.speaker-box:before{
    background: #0ac0de;
    transform: scale(0);
    z-index: 1;
}
.speaker-box:hover:before{
    transform: scale(1);
}
.speaker-box:after{
    background: #d4d4d4;
}
.speaker-box .pic{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.speaker-box .pic:before{
    content: "";
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s linear 0s;
}
.speaker-col:hover .pic:before{
    opacity: 1;
    transform: scale(0.9);
}
.speaker-box img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.speaker-box .social{
    width: 100%;
    position: absolute;
    top: 45%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s linear 0s;
}
.speaker-col:hover .social{
    opacity: 1;
    transform: scale(1);
}
.speaker-box .social li{
    display: inline-block;
}
.speaker-box .social li a{
    display: inline-block;
    margin: 0 5px;
    font-size: 25px;
    color: #ffffff;
    transition: all 0.3s linear 0s;
}
.speaker-box .social li a:hover{
    color: #0587d7;
}
.speaker-box .team-content{
    padding-bottom: 35px;
}
.speaker-box .title{
    font-size: 22px;
    font-weight: bold;
    color: #2a2b2f;
    text-transform: capitalize;
    margin: 15px 0 10px 0;
}
.speaker-box .post{
    font-size: 18px;
    color: #696969;
    text-transform: capitalize;
}
.speaker-info {
    text-align: center;
    background: #111111;
    padding: 15px 10px;
    margin-top: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.speaker-info h4 {
    color: #ffffff;
    margin-bottom: 5px;
}
.speaker-info span {
    text-transform: capitalize;
    color: #999999;
    font-size: 13px;
}



/*--------------------------------
    07. Organizer CSS Start
----------------------------------*/
.organizer-area {
    padding: 150px 0 100px;
    position: relative;
    overflow: hidden;
}
.organizer-col {
    margin-bottom: 50px;
}
.organizer-col h3 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
}
.organizer-col h2 {
    color: #0587d7;
    font-size: 90px;
    margin-bottom: 20px;
}
.organizer-col p {
    font-size: 18px;
    font-style: italic;
}
.organizer-col p i {
    color: #0587d7;
    margin-right: 10px;
}



/*--------------------------------
    08. Ticket CSS Start
----------------------------------*/
.ticket-area {
    padding: 150px 0 100px;
    background: url(../images/bg/human-pathogenic-virus-and-bacterias-under-PXSCE7K-compressor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.ticket-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
}
.ticket-col {
    margin-bottom: 50px;
}
.ticket-col p {
    color: #ffffff;
}
.ticket-col h2 {
    color: #ffffff;
    margin-bottom: 15px;
}
.ticket-col h3 {
    color: #fff;
    padding: 10px;
    background: #0587d7;
    display: inline-block;
}
.ticket-col h3 sub {
    text-transform: lowercase;
}
.ticket-area .form-control {
    background: rgba(255, 255, 255, 0.6);
    color: #111111;
}
.my-select {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.6);
    color: #111111;
}



/*--------------------------------
    09. Schedule CSS Start
----------------------------------*/
.schedule-area {
    padding: 150px 0;
    position: relative;
}
.schedule-table thead {
    background: #0587d7;
    color: #ffffff;
}
.schedule-table thead tr th {
    padding: 12px;
    text-transform: capitalize;
}
.schedule-table tbody tr td {
    padding: 12px;
    text-transform: capitalize;
}
.table-row-bg {
    background: #f2f2f2;
}


/*--------------------------------
    10. Venue CSS Start
----------------------------------*/

.venue-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.venue-room {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.venue-col:hover .venue-image {
    opacity: 0.3;
}

.venue-col:hover .venue-room {
    opacity: 1;
}

.venue-area {
    padding: 100px 0 50px;
    background: #f3f4f3;
}
.venue-col {
    margin-bottom: 50px;
}
.venue-col img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.venue-col .info-box {
    padding: 20px 20px;
    margin-bottom: 10px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.venue-col .info-box i:before {
    font-size: 30px;
}
.venue-col .info-box p {
    margin-top: 10px;
}
.venue-col .info-box h4 {
    margin-bottom: 20px;
}
.venue-col .info-box ul li {
    display: inline-block;
}
.venue-col .info-box ul li a i {
    color: #0587d7;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    margin-left: 0;
}



/*--------------------------------
    11. Blog CSS Start
----------------------------------*/
.blog-area {
    padding: 150px 0 100px;
    position: relative;
}
.blog-col {
    text-align: center;
    margin-bottom: 30px;
    background: #f3f3f3;
}
.blog-col .blog-img {
    position: relative;
}
.blog-col .blog-img img {

}
.blog-date {
    width: 60%;
    position: absolute;
    left: 50%;
    bottom: -30px;
    z-index: 0;
    margin-left: -30%;

}
.blog-date h3 {
    font-size: 16px;
    background: #0587d7;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 30px;
}
.blog-col h4 {
    margin-top: 40px;
}
.blog-col h4 a {
    color: #111111;
}
.blog-col h4 a:hover {
    color: #0587d7;
}
.blog-col p {
    margin-bottom: 20px;
}
.blog-content {
    padding: 0 15px 30px 15px;
}
.col-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}


/*--------------------------------
    12. counter CSS Start
----------------------------------*/
.counter-area {
    padding: 70px 0 50px;
    background: url(../images/bg/herpes-viruses-and-antibodies-PJENMEM.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.counter-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg/pattern.png);
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
}

.counter2-area {
    padding: 70px 0 50px;
    background: url(../images/organic-cell-background-PPC6GEY.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.counter2-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg/pattern.png);
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
}
.counter-col {
    padding: 30px 20px;
    margin-bottom: 30px;
    text-align: center;
    background: rgba(153, 153, 153, 0.6);
    border-radius: 10px;
}
.counter-col .count {
    font-size: 28px;
    line-height: 80px;
    color: #ffffff;
    background: rgba(5, 135, 215, 0.4);
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}
.counter img {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 0;
    width: 60px;
    opacity: 0.4;
}
.counter-col p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
}


/*--------------------------------
    13. Sponsor CSS Start
----------------------------------*/
.sponsor-area {
    padding: 150px 0 120px;
    position: relative;
}
.sponsor-col {
    margin-bottom: 30px;
}
.sponsor-col a {
    display: block;
    text-align: center;
}
.sponsor-col a img {
    width: 250px;
    height: auto;
    margin: 0px auto;
}


/*--------------------------------
    14. Contact CSS Start
----------------------------------*/
.contact-area {
    padding: 150px 0 150px;
    position: relative;
}
.contact-col {
    margin-bottom: 30px;
    text-align: center;
}
.contact-infobox {
    padding: 50px 30px;
    background: #f3f3f3;
    border-radius: 10px;
}
.contact-infobox i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #0587d7;
    color: #0587d7;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 20px;
    padding: 5px 15px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.contact-infobox:hover i {
    background: #0587d7;
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.contact-form-row .contact-col {
    margin-bottom: 0;
}
.contact-form-row .contact-col .form-control {
    height: 50px;
    border-radius: 30px;
}
.contact-textarea textarea {
    height: 100% !important;
}
.contact-col .form-control{
    padding:20px 25px;
}



/*--------------------------------
    15. Footer CSS Start
----------------------------------*/
.footer-area {
    padding: 80px 0;
    background: #353E4A;
}
.newsletter-col {
    text-align: center;
}
.newsletter-col h4 {
    color: #dadada;
    margin-bottom: 30px;
    font-size: 15px;
    letter-spacing: 1px;
}
.newsletter-col form {
    margin-bottom: 50px;
}
.newsletter-col form .form-control {
    background: rgba(16, 16, 16, 0.20);
    border-color: #636363;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #f3f3f3;
}
.newsletter-col form .btn {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    text-transform: uppercase;
    background: #0587d7;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.newsletter-col form .btn:hover {
    background: #000000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.newsletter-col form .btn {
    font-size: 16px;
}
.footer-col a i {
    line-height: 35px;
}
.hi-icon-effect-4 .hi-icon {
    width: 35px;
    height: 35px;
    box-shadow: none;
    margin: 0 10px;
}
.hi-icon-effect-4b .hi-icon:hover {
    box-shadow: none;
}
.hi-icon-wrap {
    padding: 0;
}
.hi-icon {
    font-size: 16px;
    margin: 0;
}
.hi-icon-effect-4 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 0;
    z-index: 10;
    border: 2px dashed #ffffff;
}

.footer-copy-right {
    padding: 20px 0;
    background: #2D353E;
}
.footer-copy-right p {
    color: #a0a0a0;
}
.footer-copy-right p a {
    color: #0587d7;
}



/*--------------------------------
    16. Demo Page CSS Start
----------------------------------*/
.demo-page-header {
    padding: 200px 0;
    background: #111111;
    background-image: url(../images/screenshot/1.jpg);
    background-position: center;
    background-size: cover;
}
.demo-page-features {
    padding: 100px 0 100px;
    background: #f5f5f5;
}
.demo-page-features h3 {
    margin-bottom: 0;
}
.demo-page-features h2 {
    font-size: 45px;
    display: inline-block;
    border-bottom: 3px solid #0587d7;
    margin-bottom: 60px;
    line-height: 1;
    padding-bottom: 10px;
}
.demo-page-features-col {
    margin-bottom: 30px;
    text-align: center;
}
.demo-page-features-col h4 {
    font-size: 18px;
    padding: 20px 20px;
    background: #e4e4e4;
    border-top: 2px solid #0587d7;
}
.demo-content-area {
    padding: 100px 0 100px;
}
.demo-content-col {
    margin-bottom: 50px;
    text-align: center;
}
.demo-content-col h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #111111;
}
.demo-content-col h2 a {
    color: #111111;
}
.header-content {
    text-align: center;
}
.header-content h1 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 28px;
}
.header-content h1 span {
    color: #0587d7;
    font-size: 40px;
}
.header-content .btn {
    font-style: 16px;
    background: #0587d7;
    border: none;
    padding: 18px 40px;
    color: #ffffff;
    text-transform: uppercase;
}
.demo-content-area {
    padding: 150px 0 100px;
}
.demo-content-col {
    margin-bottom: 50px;
    text-align: center;
}
.demo-content-col h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #111111;
    text-transform: capitalize;
}
.demo-content-col h4 a {
    color: #111111;
}
.demo-content-col ul li {
    margin-bottom: 10px;
    margin-top: 10px;
}
.demo-content-col ul li a {
    font-weight: bold;
    color: #777777;
    text-transform: uppercase;
}
.pages-col {
    text-align: center;
}
.pages-col h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #cccccc;
}
.demo-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.overlayer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.demo-img:hover .overlayer {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.demo-img .overlayer a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 124px;
    margin-left: -62px;
    margin-top: -15px;
    text-align: center;
    color: #ffffff;
    padding: 8px 20px;
    border: 1px solid #ffffff;
    display: inline-block;
}
